<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Skill Practice</title>

</head>

<body>
  <div class="header-wrapper">
    <h2 id="main-title">Web Dev Practice</h2>
    <p class="head-text">This is a very simple HTML page</p>
    <div class="navbar navbar-default">
      <div class="container-fluid">
        <ul>
          <a href="#"><li>Home</li></a>
          <a href="#"><li>About</li></a>
          <a href="#"><li>Contact</li></a>
        </ul>
      </div>
    </div>
  </div>

<div id="root"></div>

<div class="body-wrapper">
<div class="content-box-wrapper">
  <div class="content-box">

    <div id="eq"></div>
    <form class="input-wrapper">
        <div class="input-row">
            <div>
                Put in the first number:
            </div>
            <input type="text" id="input-a"></br>
        </div>
        <div class="input-row">
            <div>
                Put in the second number:
            </div>
            <input type="text" id="input-b"></br>
        </div>
        <div>
            Select Add or Subtract:
        </div>
        <select name="" id="selector">
          <option value="addition">Add</option>
          <option value="subtraction">Subtract</option>
          <option value="multiplication">Multiply</option>
          <option value="division">Divide</option>
        </select>

        <div class="button-wrapper">
            <button type="button" name="button" class="addInputs">Calculate</button>
        </div>
    </form>
    <div id="answerMe"></div>
  </div>

  <!-- Strings practice -->
  	<div class="content-box">
  		<h4>Strings, Arrays, and Loops Practice</h4>
  		<h5>Enter your sentence here:</h5>
  		<div class="sentence-wrapper" id="sentence-getter">
  			<input type="text" name="sentence-input" value="" id="sentence-input">
  			<button type="button" name="sentence-button" id="sentence-btn" onclick="sentenceCase()">Submit</button>
  		</div>
  		<h5>And it will be put into sentence case here:</h5>
  		<div id="sentence-output" class="a-output"></div>
  	</div>

  <!-- Show the correct gas price based on the input -->
  	<div class="content-box">
  		<h4>Switch Practice</h4>
  		<h5>Enter the type of gas you buy:</h5>
  		<select class="gas-choice" name="gas-input" id="gas-type">
  			<option value="Premium">Premium</option>
  			<option value="Mid-grade">Mid-grade</option>
  			<option value="Regular">Regular</option>
  		</select>
  		<button type="button" name="gas-button" onclick="gasPrice()" id="gas-button">Submit</button>
  		<div id="gas-output" class="a-output"></div>
  	</div>

  <!-- Search Overstock's website -->
  	<div class="content-box">
  		<h4>Search Box Practice</h4>
  		<h5>Search Overstock.com</h5>
  		<form action="https://www.overstock.com/search">
  			<input type="hidden" name="refineSale" value="On Sale">
  			<input type="text" name="keywords" value="" placeholder="Search for... on Overstock">
  			<button class="search-icon" type="button" formtarget="_blank"><img src="images/magnifying-glass-search-128.png" alt=""></button>
  		</form>
  		<h5>Search Amazon.com</h5>
  		<form action="https://www.amazon.com">
  			<input type="text" name="" value="" placeholder="Search for... on Amazon">
  			<button class="search-icon" type="button" name="button" formtarget="_blank"><img src="images/magnifying-glass-search-128.png" alt=""></button>
  		</form>
  	</div>

<div class="divider"></div>

    <!-- Grabber -->
    <div class="content-box psych-out">
        <h2 class="grabber">Click Me</h2>
    </div>

  	<!-- On/Off Switch -->
  	<div class="content-box">
        <h2 id="third-header" onclick="firstFunction()">More Content Coming Soon</h2>
  	</div>

<div class="divider"></div>

<!--Carousel-->
<div id="nature-carousel" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#nature-carousel" data-slide-to="0" class="active">Mountains</li>
    <li data-target="#nature-carousel" data-slide-to="1">Skies</li>
    <li data-target="#nature-carousel" data-slide-to="2">Fireworks</li>
  </ol>
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img class="d-block img-fluid" src="images/MountainPhoto.jpeg" alt="First slide">
    </div>
    <div class="item">
      <img class="d-block img-fluid" src="images/flyingBird.jpg" alt="Second slide">
    </div>
    <div class="item">
      <img class="d-block img-fluid" src="images/Fireworks.png" alt="Third slide">
    </div>
  </div>
  <a class="carousel-control-prev" href="#nature-carousel" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#nature-carousel" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<div class="divider"></div>

<div id="to-do-list">
    <h2>To Do List</h2>
    <form>
        <input type="text" id="to-do-list-input"><button type="button" name="to-do-list-button" onClick="toDoList()">Submit</button>
    </form>
    <ul id="to-do-ul">
        <li>Stroke pet cat, feel its soft fur</li>
        <li>Wash my goldfish</li>
        <li>Call aunt in Poughkeepsie</li>
    </ul>
</div>

<div class="divider"></div>

<div class="homegrown-carousel">
  <div class="hgc-img">
    <img id="hgc-img-img" src="images/fireworks2.jpeg" alt="Fireworks">
  </div>
</div>

<div class="divider"></div>

<div class="video-container">
  <video src="videos/20170417_Farm.mp4" width="400px" height="325px" autoplay poster="https://flic.kr/p/kFqM35" muted="true" controls>

  </video>
</div>

<div class="divider"></div>

<div id="hipster-ipsum-wrapper" class="text-block">
  <div id="hipster-ipsum" class="text-wrapper">
    <p>Umami fashion axe biodiesel man braid YOLO 90's, ugh distillery lyft mixtape cray bicycle rights jianbing poke cornhole. Hell of XOXO biodiesel pop-up, humblebrag hot chicken bushwick pork belly. Flexitarian slow-carb +1, lomo 8-bit put a bird on it microdosing woke. </p>

    <p>Irony butcher poutine poke four loko, waistcoat blog 8-bit truffaut bushwick fashion axe locavore brooklyn. Tilde polaroid tumblr, synth yr tumeric subway tile butcher pok pok ennui affogato. Chia artisan man braid single-origin coffee glossier. Occupy hot chicken gluten-free, bushwick pug wayfarers farm-to-table copper mug kogi 8-bit cornhole kale chips hella fashion axe.</p>

    <p>8-bit yuccie vegan, lomo banh mi chillwave vinyl kickstarter af crucifix sriracha roof party echo park brunch. Kinfolk copper mug deep v 3 wolf moon waistcoat. Fixie cliche hexagon sriracha. Fam salvia neutra small batch beard vice. Hella kitsch chicharrones hoodie.</p>

    <p>La croix marfa kombucha, blue bottle flexitarian readymade plaid 8-bit tbh synth fixie. Pug swag meditation knausgaard etsy flexitarian, narwhal roof party tumblr chia put a bird on it venmo cray godard.</p>
  </div>
</div>

<div class="divider"></div>

<div id="dynamic-pony-content" class="pony-ipsum">

</div>

<div class="divider"></div>

<form class="checkbox-wrapper" action="index.html" method="post">
  <div>
    <label for="more-interests">Select More Interests?</label>
    <input type="checkbox" name="more-interests" id="revealer" value="" onclick="mainChecked()">
  </div>
  <div class="checkbox-inner-wrapper" id="cb-inner">
    <div>
      <input type="checkbox" id="cb-music" name="interest" value="">
      <label for="music">Music</label>
    </div>
    <div>
      <input type="checkbox" id="cb-painting" name="interest" value="">
      <label for="painting">Painting</label>
    </div>
    <div>
      <input type="checkbox" id="cb-coding" name="interest" value="">
      <label for="coding">Coding</label>
    </div>
    <div>
      <input type="checkbox" id="cb-kayaking" name="interest" value="">
      <label for="kayaking">Kayaking</label>
    </div>
  </div>
</form>

  <!-- End Content-Box Wrapper -->
  </div>
  <div class="footer-wrapper">
  	<div class="footer-stripe"></div>
  	<p>Copyright &#169;: Liz 2017</p>
  </div>


  <!-- End Main Body Wrapper -->
  </div>


</body>


</html>
